{% extends '../base.html' %}
{% load static %}

{% block page_head %}
{% endblock %}

{% block page_title %}
<span>Nova Norma</span>
{% endblock %}

{% block page_content %}
<div>
  <article>
    <div class="page-group-title mb-3">Nova Norma</div>
    <div class="bg-white rounded-3 shadow-sm py-2">
      <div class="m-3">
        {% url 'standard-list' as btn_back_url %}
        {% include "base_form.html" with form=form btn_submit_txt='Criar Norma' btn_back_url=btn_back_url %}
      </div>
    </div>
  </article>
</div>
{% endblock %}