{% extends '../base.html' %}
{% load static %}

{% block page_head %}
{% endblock %}

{% block page_title %}
<span>Detalhes do projeto</span>
{% endblock %}

{% block page_content %}
<div>
  <article>
    <div class="page-group-title mb-3">
      <div class="d-flex justify-content-between gap-2">
        <div>Projeto: <span class="fw-medium">{{ object.name }}</span></div>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span>Ações</span>
          </button>
          <ul class="dropdown-menu">
            <li class="warning">
              <a class="dropdown-item" href="{% url 'project-update' object.pk %}">
                <i class="fa-solid fa-pen-to-square fa-lg me-2"></i>
                <span>Atualizar Projeto</span>
              </a>
            </li>
            <li class="danger">
              <a class="dropdown-item" href="{% url 'project-delete' object.pk %}">
                <i class="fa-solid fa-trash-can fa-lg me-2"></i>
                <span>Deletar Projeto</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bg-white rounded-3 shadow-sm py-2">
      <div class="p-3">
        <div>
          <div class="d-flex justify-content-between align-items-start">
            <span class="fw-semibold fs-5">{{ object.name }}</span>
            <span class="status-tag text-nowrap rounded-pill {{object.status}}">{{ object.status }}</span>
          </div>
          <div class="subtext text-nowrap">ID: {{ object.id }}</div>
          <div class="subtext text-nowrap">Atualizado em: {{ object.updated_at|date:"d/m/Y H:i:s" }}</div>
        </div>
        <div class="divider py-3"></div>
        <div class="accordion mainha-accordion" id="accordionPanels">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panels-collapseOne" aria-expanded="true" aria-controls="panels-collapseOne">
                Descrição
              </button>
            </h2>
            <div id="panels-collapseOne" class="accordion-collapse collapse show">
              <div class="accordion-body">
                <textarea name="description" cols="40" rows="10" class="form-control" disabled>{{ object.description }}</textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <span class="text-center" style="font-size: 0.75rem">
            Este documento é uma ferramenta de análise prévia e não substitui a aprovação oficial junto aos órgãos
            competentes.
          </span>
        </div>
      </div>
    </div>
  </article>
</div>
{% endblock %}