{% extends '../base.html' %}
{% load static %}

{% block page_head %}
{% endblock %}

{% block page_title %}
<span>Editar Usuário</span>
{% endblock %}

{% block page_content %}
<div>
  <article>
    <div class="page-group-title mb-3">
      Editar senha do usuário: 
      <span class="fw-medium">
        {% if object.first_name or object.last_name  %}
          {{ object.first_name }} {{ object.last_name }}
        {% else %}
          (Sem nome cadastrado)
        {% endif %}
      </span>
    </div>
    <div class="bg-white rounded-3 shadow-sm py-2">
      <div class="p-3">
        {% url 'user-detail' pk=object.pk as btn_back_url %}
        {% include "components/base_form.html" with form=form btn_submit_txt='Salvar Senha' btn_back_url=btn_back_url has_password_field=True %}
      </div>
    </div>
  </article>
</div>
{% endblock %}