{% extends '../base.html' %}
{% load static %}

{% block page_head %}
{% endblock %}

{% block page_title %}
<span>Novos Critérios de Norma</span>
{% endblock %}

{% block page_content %}
<div>
  <article>
    <div class="page-group-title mb-3">Novos Critérios de Norma</div>
    <div class="bg-white rounded-3 shadow-sm py-2">
      <div class="m-3">
        {% url 'standard-detail' pk=standard_id as btn_back_url %}
        {% include "base_form.html" with form=form btn_submit_txt='Criar Critérios de Norma' btn_back_url=btn_back_url %}
      </div>
    </div>
  </article>
</div>
{% endblock %}

{% block page_scripts %}
<script>
    let text_area_element = document.getElementById("id_standard_rules")

    text_area_element.placeholder = '[{"name": "Nome do critério", "description": "Descrição", "group": "Hierarquia de organização"}]';
    if (text_area_element.innerHTML == "null") {
        text_area_element.innerHTML = ""
    }
</script>
{% endblock %}