{% extends '../base.html' %}
{% load static %}
{% load mainha_utils_tags %}

{% block page_head %}
{% endblock %}

{% block page_title %}
<span>Análise de Projeto</span>
{% endblock %}

{% block page_content %}
<div>
  <article>
    <div class="page-group-title mb-3">
        Análise de Projeto
        <p class="fs-6">Projeto: {{project.name}}</p>
        <p class="fs-6">Norma: {{standard.name}}</p>
    </div>
    <div class="bg-white rounded-3 shadow-sm py-2">
      <div class="m-3">
        <form method="post">
          {% csrf_token %}
          {{ formset.management_form }}
          {% for form in formset %}
            <div class="row pb-4">
                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% else %}
                        {{ field.errors }}
                        <!-- {{ field.label_tag }} -->
                        {% if field.name == "fulfilled" %}
                            <div class="form-check form-switch col-12">
                                {{ field }}
                                <label for="{{ field.id_for_label }}" class="form-label text-secondary">
                                    {{ standard_rules|find_item:form.standard_rule.value|get_standard_rule_name }}
                                    {% comment %} <a href="#" data-bs-toggle="tooltip" data-bs-title="{{ standard_rules|find_item:form.standard_rule.value|get_standard_rule_description }}">!</a> {% endcomment %}
                                </label>
                            </div>
                        {% else %}
                            <div class="col-12">
                                {% comment %} <label for="{{ field.id_for_label }}" class="form-label text-secondary">
                                {{ field.label }}{% if field.field.required %}<span class="text-danger">*</span>{% endif %}
                                </label> {% endcomment %}
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            <hr class="pb-4">
          {% endfor %}
          <div class="d-flex justify-content-end gap-3 mt-2">
            <a class="btn btn-secondary py-2 px-3" href="{% url 'index' %}">
              <i class="fa-solid fa-xmark fa-lg me-2"></i>
              <span>Cancelar</span>
            </a>
            <button class="btn btn-success py-2 px-3" type="submit">
              <i class="fa-solid fa-check fa-lg me-2"></i>
              <span>Salvar Análise do Projeto</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </article>
</div>
{% endblock %}