{% extends '../base.html' %}
{% load static %}
{% load mainha_utils_tags %}

{% block page_head %}
{% endblock %}

{% block page_title %}
<span>Análise de Projeto</span>
{% endblock %}

{% block page_content %}
<div>
  <article>
    <div class="page-group-title mb-3">
        Análise de Projeto
        <p class="fs-6">Projeto: {{project.name}}</p>
        <p class="fs-6">Norma: {{standard.name}}</p>
    </div>
    <div class="bg-white rounded-3 shadow-sm py-2">
      <div class="m-3">
        <form method="post">
          {% csrf_token %}
          {{ formset.management_form }}
          {% for form in formset %}
            <div class="row pb-4">
                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% else %}
                        {{ field.errors }}
                        <!-- {{ field.label_tag }} -->
                        {% if field.name == "fulfilled" %}
                            <div class="d-flex justify-content-between align-items-top col-12">
                              <div class="form-check form-switch">
                                  {{ field }}
                                  <label for="{{ field.id_for_label }}" class="form-label text-secondary">
                                      {{ standard_rules|find_item:form.standard_rule.value|get_standard_rule_name }}
                                  </label>
                              </div>
                              <div>
                                <a class="btn border-0 p-0 m-0" data-bs-toggle="offcanvas" role="button" 
                                  href="#{{ field.id_for_label }}-offcanvas" aria-controls="{{ field.id_for_label }}-offcanvas">
                                  <i class="fa-solid fa-circle-info fa-lg" ></i>
                                </a>
                              </div>
                            </div>

                            {% comment %} Offcanvas Helper {% endcomment %}
                            <div class="offcanvas offcanvas-end offcanvas-validation-helper" tabindex="-1"
                              id="{{ field.id_for_label }}-offcanvas" aria-labelledby="offcanvas-{{ field.id_for_label }}-label">
                              <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvas-{{ field.id_for_label }}-label">
                                  {{ standard_rules|find_item:form.standard_rule.value|get_standard_rule_name }}
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                              </div>
                              <div class="offcanvas-body">
                                <div>
                                  <textarea class="form-control" rows="35"
                                    id="{{ field.id_for_label }}-offcanvas-textarea-id" 
                                    name="{{ field.id_for_label }}-offcanvas-textarea-name"
                                  >{{ standard_rules|find_item:form.standard_rule.value|get_standard_rule_description }}</textarea>
                                </div>
                              </div>
                            </div>
                        {% else %}
                            <div class="col-12">
                                {% comment %} <label for="{{ field.id_for_label }}" class="form-label text-secondary">
                                {{ field.label }}{% if field.field.required %}<span class="text-danger">*</span>{% endif %}
                                </label> {% endcomment %}
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            {% if not forloop.last %}
              <hr class="pb-4">
            {% endif %}
          {% endfor %}
          <div class="d-flex justify-content-end gap-3 mt-2">
            <a class="btn btn-secondary py-2 px-3" href="{% url 'index' %}">
              <i class="fa-solid fa-xmark fa-lg me-2"></i>
              <span>Cancelar</span>
            </a>
            <button class="btn btn-primary py-2 px-3" type="submit" name="submit" value="save-only">
              <i class="fa-solid fa-check fa-lg me-2"></i>
              <span>Salvar</span>
            </button>
            <button class="btn btn-success py-2 px-3" type="submit" name="submit" value="save-end">
              <i class="fa-solid fa-check fa-lg me-2"></i>
              <span>Salvar e Finalizar</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </article>
</div>
{% endblock %}